@import "../defs";

.container {
  font-family: "Proxima Nova";
  background-color: #436073;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  // margin-bottom: 15px;
}
.title {
  color: white;
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 0;
  width: 80%;
}
.top {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}
.top:hover {
  cursor: pointer;
}

.prizeImgCont {
  width: 20px;
  position: absolute;
  left: 10px;
  top: 20px;
}
.prize {
  width: 100%;
}
.downArrowCont {
  width: 20px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.downArrow {
  width: 100%;
  transition: transform, 2ms, ease-in-out;
}

.flipDownArrow {
  transform: rotate(180deg);
}

.bot {
  @include body();
  display: none;
  transition: transform ease-in-out 200ms;
  width: 100%;
  padding: 0px 40px 20px 40px;

  p {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
  }
}

.showBot {
  display: flex;
  transition: transform ease-in-out 200ms;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .container {
    flex: 0 1 43%;
    height: fit-content;
  }
  .bot {
    height: fit-content;

    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
  }
  .prizeImgCont {
    top: 20px;
  }
}
