@import "../defs";

.container {
  padding: 40px 15px;
  @include border();
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.heading {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: white;
  text-align: center;
  margin: 0;
}

.text {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  color: #9ee7e5;
  text-align: center;
}

.iconcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 20px;
  margin: 0 auto;
  > a {
    width: auto;
  }
}

.icon {
  //   position: relative;
  //   margin-right: 10px;
  width: 30px;
}

.iconfb {
  // position: relative;
  // margin-right: 10px;
  margin-top: 8px;
  width: 35px;
}

@media only screen and (min-width: 992px) {
  .container {
    width: 30%;
  }
  .heading {
    font-size: 20px;
  }
  .text {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
