.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #173a52;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  max-width: 1280px;
  margin: auto;
  z-index: 999;
}

.scroll {
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.3);
}

.mlhbanner {
  width: 60px;
  position: fixed;
  top: 100px;
  right: 10px;
  transition: 300ms;
  background-color: transparent;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: row;
  max-width: 485px;
  justify-content: flex-end;
  column-gap: 56px;
}

.button {
  text-align: center;
  text-decoration: none;
  color: white;
  width: auto;

  &:hover {
    color: black;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 24px;
  }
}
