.background {
  min-height: 100vh;
  width: 100vw;
}

.headerText {
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-size: 40px;
  font-weight: 700;
}

.thevoid {
  display: flex;
  height: 150vh;
  max-width: 1280px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

:global(.accordion-button) {
  padding-left: 0 !important;
  color: black !important;
  background-color: white !important;
}
:global(.accordion-button:focus) {
  box-shadow: none !important;
  border: none !important;
}
