.background {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 1280px;
  height: 912px;
  margin-top: 24px;
  background-color: rgba(242, 242, 242, 1);
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentWrapper {
  margin-left: auto;
  margin-right: auto;
}

.headerText {
  font-size: 40px;
  font-weight: 700;
}