@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

@mixin header1($size: 32pt, $line-height: 42px) {
  font: medium "DM Mono";
  font-size: $size;
  line-height: $line-height;
  letter-spacing: 0%;
  color: #ffffff;
}
@mixin header2($size: 14pt) {
  font: "Proxima Nova";
  font-size: $size;
  letter-spacing: 2%;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1330px;
  margin-top: 24px;
  padding: 32px 24px 40px; // does nothing?
  position: relative;
  background-color: #173a52;
  border: solid #9ee7e5 3pt;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  max-width: 990px;
  // width: 60vw;
  // margin-left: auto;
  // margin-right: auto;
  padding-bottom: 50px;
}

.headerText {
  @include header1;
  margin-bottom: 1rem;
}

.link {
  text-decoration: none;
  color: #9ee7e5;
}

.link:hover {
  color: #9ee7e5;
  text-decoration: underline;
}

:global(.accordion-item) {
  background-color: #173a52 !important;
}
:global(.accordion-button) {
  padding-left: 0 !important;
  color: #ffffff !important;
  font-size: 14pt !important;
  background-color: #173a52 !important;
}

:global(.accordion-button:focus) {
  box-shadow: none !important;
  border: none !important;
  color: #9ee7e5 !important;
  background-color: #173a52 !important;
}

:global(.accordion-button::after) {
  background-image: url("../images/Vector131.svg") !important;
}

:global(.accordion-body) {
  background-color: #173a52 !important;
  color: #ffffff !important;
  overflow-x: hidden !important;
  border-bottom: #9ee7e5 solid;
}
:global(.accordion-header) {
  @include header2;
  border-bottom: #9ee7e5 solid !important;
}

:global(.accordion-header:focus) {
  color: #9ee7e5 !important;
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 5rem;
  }
  .headerText {
    @include header1($size: 48pt, $line-height: 62px);
  }
  :global(.accordion-header) {
    @include header2($size: 24pt);
  }
}
