@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

@mixin header1($size: 32pt, $line-height: 42px ) {
  font: medium "DM Mono";
  font-size: $size;
  line-height: $line-height;
  letter-spacing: 0%;
  color: #FFFFFF
}
@mixin header2($size: 14pt) {
  font: "Proxima Nova";
  font-size: $size;
  letter-spacing: 2%;
  line-height: 175%;
  color: #FFFFFF;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px 0 250px;
  width: 100%;
  background-color: #123041;
  border-radius: 10px;
  position: relative;
}

.adventuremobile {
  position: absolute;
}

.adventuredesktop {
  position: absolute;
  display: none;
}

.headerText {
  @include header2;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  inline-size: 280px;
  overflow-wrap: break-word;
  margin-top: 15px;
  z-index: 998;
  line-height: normal;
  background-color: transparent;
}

.button {
  @include header2;
  background-color: #FFFFFF;
  color: #173a52;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-radius: 100px;
  padding: 10px;
  width: 60%;
  z-index: 998;
}

.button:active {
  background: #45D5D9;
}


@media only screen and (min-width: 992px) {
    .container {
      margin-bottom: 300px;
    }
    .headerText {
      @include header2;
      text-align: center;
      font-size: 36px;
      inline-size: auto;
      overflow-wrap: normal;
      margin-top: 70px;
      letter-spacing: 0.2rem;
    }
    .button {
        width: 20%;
        font-size: 12pt;
        margin-top: 6px;
    }
    .adventuremobile {
      display: none;
    }
    .adventuredesktop {
      display: block;
    }
}
