.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  height: 138px;
  width: 100%;
  margin: 24px auto auto;
  max-width: 1280px;
  background-color: rgba(242, 242, 242, 1);
  text-align: left;

  > span {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  .container {
    flex-direction: row;
    align-items: center;
    flex-wrap: none;
    text-align: center;

    > span {
      font-size: 17px;
    }
  }
}
