@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

@mixin header1($size: 32pt, $line-height: 42px ) {
  font: medium "DM Mono";
  font-size: $size;
  line-height: $line-height;
  letter-spacing: 0%;
  color: #FFFFFF
}
@mixin header2($size: 14pt) {
  font: "Proxima Nova";
  font-size: $size;
  letter-spacing: 2%;
}

.background {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container {
  display: flex;
  width: 100%;
  padding: 32px 24px;
  max-width: 1280px;
  height: 912px;
  margin: 24px auto auto;
  background-color: #173A52;
  border: solid #9EE7E5 3pt;
  border-radius: 10px;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentWrapper {
  max-width: 990px;
  // width: 60vw;
  // margin-left: auto;
  // margin-right: auto;
}

.headerText {
  @include header1;
}

.box {
  width: 150px;
  height: 150px;
  background-color: blue;
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 5rem;
  }
  .headerText {
    @include header1($size: 48pt, $line-height: 62px);
  }
}
