.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100vw;
  max-width: 1280px;
  margin: auto;
  z-index: 999;
  background: white;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.buttons {
  display: flex;
  flex-direction: row;
  max-width: 485px;
  justify-content: flex-end;
  column-gap: 56px;
}

.button {
  text-align: center;
  text-decoration: none;
  color: black;
  width: auto;

  &:hover {
    color: black;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 40px 24px 24px;
  }
}
