.top_diagonal_mobile {
  border-bottom: 50px solid #c4c4c4;
  border-right: calc(100vw - 24px) solid transparent;
  max-width: 100%;
}

.bottom_diagonal_mobile {
  border-top: 50px solid #c4c4c4;
  border-left: calc(100vw - 24px) solid transparent;
  margin-bottom: -20px;
}

// .top_diagonal_non_mobile {
//   border-bottom: 50px solid #c4c4c4;
//   border-right: calc(50vw - 24px) solid transparent;
//   max-width: 100%;
// }

.bottom_diagonal_non_mobile {
  border-top: 50px solid #c4c4c4;
  border-left: calc(58.33vw - 24px) solid transparent;
  //margin-bottom: 25px;
}

.contents {
  position: relative;
  background-color: #c4c4c4;
  height: 400px;
  width: 100%;
  clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 calc(100% - 50px));
  margin-bottom: -10px;
}

@media (min-width: 992px) {
  .contents {
    height: 784px;
    flex-grow: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
  }
}
