.container {
  width: 100%;
  height: 258px;
  background-color: #c4c4c4;
  margin-bottom: 24px;
}

@media (min-width: 992px) {
  .container {
    height: 550px;
  }
}

// @media (min-wdith: 1440px) {
//   .container {
//     height: 500px;
//   }
// }
