@import "../../_defs";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bright_teal;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 calc(100% - 50px));
  padding: 3px 0;
  border-radius: 10px;
  margin-bottom: -20px;
}

.container {
  width: calc(100% - 6px);
  position: relative;
  padding: 29px 19px 77px 21px;
  background-color: $darker_teal;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 calc(100% - 50px));
  // margin-bottom: -10px;
  border-radius: 9px;
  // @include border();

  > h2 {
    @include header1();
    margin-bottom: 24px;
    word-spacing: -0.5ch;

    > span {
      @include header1();
      color: $yellow;
      word-spacing: -0.5ch;
    }
  }
  > button {
    background: #000000;
    border-radius: 100px;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.1em;
    @include button();
  }

  // &:after{
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   content: '';
  //   background: inherit;
  //   z-index: -1;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   transform-origin: top left;
  //   transform: skewY(4deg);
  // }
}

.bottom_diagonal_mobile {
  box-sizing: content-box;
  border-top: 50px solid red;
  border-left: 100% solid black;
  margin-bottom: 20px;
}

.bottom_diagonal_non_mobile {
  border-top: 50px solid #f2f2f2;
  border-left: calc(41.67vw - 24px) solid transparent;
  margin-bottom: -20px;
}

@media (min-width: 992px) {
  .container {
    padding: 64px 64px 153px;

    > h2 {
      font-size: min(210%, 48px);
      line-height: 1.4em;
      // line-height: min(4vw, 58px);

      > span {
        font-size: inherit;
      }
    }

    > button {
      max-width: 234px;
    }
    .hover_winners {
      &:hover {
        background-color: #ffc53d;
      }
    }
  }
}
