@import "../../_defs";

.container {
  padding: 21px 24px;
  background-color: $darker_teal;
  margin-bottom: 24px;
  @include border();

  > h2 {
    font-family: "DM Mono";
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    margin: 0;
    color: $bright_teal;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 48px 64px;

    > h1 {
      font-size: min(2.6vw, 32px);
    }
  }
}
