/* css reset */
* {
  vertical-align: baseline;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
  width: 100%;
  /*Note: fix this on merge later*/
  /* background-color: #173A52; */ 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
