/* css reset */
* {
  vertical-align: baseline;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
