.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 25px;
  max-width: 377px;
}

@media (min-width: 992px) {
  .container {
    // max-height: 2400px;
    max-width: 1280px;
  }
}
