@import "../_defs";
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 25px;
  max-width: 377px;
  background-color: $darker_teal;
}

.non_mobile_container {
  display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;

  // 4/7 Justin: changed this to column
  flex-direction: column;
  max-height: 2400px;
  max-width: 1330px;
  padding: 0 25px;
  margin: auto;
  column-gap: 24px;
  background-color: $darker_teal;

  // > div:first-of-type {
  //   width: 44.3%;
  //   flex-grow: 0;
  //   display: flex;
  //   flex-direction: column;
  // }

  // > div:last-of-type {
  //   width: 55.7%;
  //   flex-grow: 1;
  //   display: flex;
  //   flex-direction: column;
  // }
}

.locationsection, .aboutsection {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.schedulesection {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  > div {
    width: 40%;
  }
}