.container {
  padding: 32px 24px 30px;
  background-color: #f2f2f2;

  > h1 {
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    margin-bottom: 34px;
  }

  > button {
    background: #000000;
    border-radius: 100px;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
}

.bottom_diagonal_mobile {
  border-top: 50px solid #f2f2f2;
  border-left: calc(100vw - 24px) solid transparent;
  margin-bottom: -20px;
}

.bottom_diagonal_non_mobile {
  border-top: 50px solid #f2f2f2;
  border-left: calc(41.67vw - 24px) solid transparent;
  margin-bottom: -20px;
}

@media (min-width: 768px) {
  .container {
    > h1 {
      font-size: 48px;
    }
  }
}
