.profileBtn {
  position: absolute;
  width: 186px;
  right: 0;
  top: 115px;
  z-index: 1;
  .rectangle {
    height: 70px;
    width: 200px;
    border-radius: 10rem 0 0 10rem ;
    background-color: rgba(255,255,255,0.2);
    position: relative;
  }
  .pfpContainer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 998;
    top: 5px;
    left: 5px;
  }
  .pfp {
    border-radius: 50%;
  }
  .myProfile {
    color: white;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    width: 100px;
    font-weight: 600;
    font-size: 18px;
    top: 23px;
    left: 80px;
    margin-bottom: 0;
    z-index: 998;
  }
}
.profileBtn:hover {
  cursor: pointer;
}

