.profile {
  display: flex;
  .circle {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #2A586E;
  } 
  .pfp {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 999;
    top: 12%;
    left: 12%;
  }
  .rectangle {
    height: 70px;
    width: 150px;
    background: #2A586E;
    position: absolute;
    left: 50%;
  }
  .myProfile {
    color: white;
    position: absolute;
    width: 120px;
    font-weight: 600;
    transform: translate(60%, 100%);
    // border: 1px solid black;
    margin-bottom: 0;
    z-index: 999;
  }
}

.profile:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  .dashboard {
    width: 500px;
    min-height: 100%;
    background-color: #2A586E;
    top: 0;
    right: 0;
    position: absolute;
    // display: none;
  }
  .showDashboard {
    // display: block;
  }
}

