.container {
  margin-top: 120px;
  padding: 20px;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  position: relative;
  .x {
    position: absolute;
    width: 30px;
    top: 0;
    right: 25px;
  }
  .x:hover {
    cursor: pointer;
  }
  .pfpContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
  }
  .pfp {
    border-radius: 50%;
  }
  .text {
    color: white;
    text-align: center;
    // font-size: 14pt;
    margin-top: 20px;
  }
  .text:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .textCont {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .icon {
    position: absolute;
    width: 20px;
    top: 63%;
    left: 2.5%;
  }
  .textField {
    margin-top: 35px;
    padding: 10px 10px 10px 40px;
    height: 50px;
    // width: 430px;

    color: #51919D;
    background-color: #043B54;
    border: solid 1px #9EE7E5;
  }
  .descContainer {
    position: relative;
    .textArea {
      margin-top: 25px;
      padding: 10px;
      resize: none;
      height: 200px;

      color: #51919D;
      background-color: #043B54;
      border: solid 1px #9EE7E5;
    }
    .characterCount {
      color: white;
      position: absolute;
      font-weight: 600;
      top: 80%;
      left: 68.5%;
    }
  } 
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9EE7E5;
  width: 120px;
  height: 35px;
  letter-spacing: 1px;
  border-radius: 20px;
  border: solid 2px #9EE7E5;
  margin-left: 20px;
  font-weight: 600;
}
.submit:hover {
  color: white;
  border: white 2px solid;
  cursor: pointer;
}

.submit:active {
  background-color: #9EE7E5;
  border: solid 2px #9EE7E5;
  color: #00425A;
}