.banner {
  height: 160px;
  padding: 56px 90px;
  background-image: url("../../images/dashboard/banner.svg");
  background-size: cover;
  > a {
    display: flex;
    width: 200px;
    align-items: center;
    font-family: "Proxima Nova";
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #043B54;
  }
}
.greeting {
  margin: 50px 0 0 100px;
  position: relative;
  .hi {
    color: white;
    font-size: 48pt;
    display: inline;
    margin-right: 30px;
  }
  .blankTicket {
    width: 75px;
    top: 15px;
    position: absolute;
  }
}
.backarrow {
  width: 12px;
  margin-right: 16px;
}

.container {
  min-height: 100vh;
  background-color: #043B54;
  display: flex;
  .left {
    display: flex;
    width: 30%;
    min-width: 650px;
    height: 875px;
    flex-direction: column;
    padding: 50px 50px 50px 100px;
    > form {
      position: relative;
      width: 400px;
    }
    .search {
      padding: 10px;
      height: 50px;
      color: #51919D;
      background-color: #043B54;
      border: solid 3px #9EE7E5;
      width: 500px;
    }
    .searchIcon {
      position: absolute;
      width: 20px;
      top: 15px;
      left: 460px;
      // right: 20px;
    }
    .skillset {
      height: 800px;
      width: 500px;
      margin-top: 20px;
      border: solid 3px #9EE7E5;
      padding: 25px;
      .title {
        font-weight: 600;
        font-size: 28pt;
        color: white;
        margin-bottom: 30px;
      }
      .roleContainer, .toolContainer {
        color: white;
        h4 {
          margin-bottom: 30px;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: #9ee7e5;
        }
      }
      .toolContainer {
        > div {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          height: 130px;
          justify-content: flex-start;
          gap: 0 54px;
          max-width: 400px;
      
          > div {
            width: 130px;
          }
        }
      }
    }
    .pendingButton {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 21px;
      text-align: left;
      color: #043b54;
      width: 30%;
      width: 500px;
      margin-top: 20px;
      background-color: #9ee7e5;
      // padding: 22px 27px;
      padding: 22px 0px 22px 22px;
    }
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 25px;
    width: 70%;
    min-width: 1200px;
    padding: 50px;
    > h5 {
      color: white;
      font-size: 17pt;
      font-weight: 600;
    }
  }
}

.dashboard {
  width: 500px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -500px;
  z-index: 998;
  background-color: #2A586E;
  visibility: hidden;
  transition: all 200ms ease-out;
}
.showDashboard {
  visibility:visible;
  right:0px;
}

@media screen and (max-width:768px) {
  .container {
    flex-direction: column;
  }
}