.container {
  width: 600px;
  background-color: #074967;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border: solid 4px transparent;
  position: relative;
  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 50px;
    font-size: 17pt;
    font-weight: 600;
    top: -3px;
    left: 446px;
    border-bottom-left-radius: 20px;
    color: #074967;
    background-color: #9CD43D;
  }
  > h3 {
    color: white;
    font-size: 24pt;
    padding: 0;
    margin: 0;
    > span {
      color: #136E90;
      font-size: 22pt;
      font-weight: 700;
      margin-left: 10px;
    }
  }
  .id {
    margin-top: 5px;
    color: white;
    font-size: 17pt;
    font-weight: normal;
    font: "Proxima Nova";
  }
  > p {
    color: white;
    font-size: 17pt;
    margin-top: 30px;
  }
  .group {
    display: flex;
    width: 510px;
    height: 150px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  > h5 {
    color: white;
    font-size: 17pt;
    font-weight: 600;
    margin-top: 20px;
  }
  > .group > .names {
    position: relative;
    width: 250px;
    height: 70px;
    background-color: #043B54;
    border-radius: 60px;
    .pfp {
      position: absolute;
      top: 5px;
      margin-left: 5px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: grey;
    }
    .memberName {
      position: absolute;
      top: 25px;
      left: 65px;
      color: white;
      font-weight: 600;
      margin-left: 10px;
    }
  }
  .skillsetGroup {
    display: flex;
    flex-wrap: wrap;
    .skill {
      border-radius: 20px;
      width: fit-content;
      padding: 5px 20px;
      margin-right: 15px;
      margin-top: 20px;
      background-color: #E86560;
      color: white;
    }
  }
  .btn {
    margin-top: 40px;
    color: white;
    border: solid white 4px;
    padding: 5px 0;
    background: transparent;
    border-radius: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 14pt;
  }
  .btn:hover {
    cursor: pointer;
    color: #074967;
    background-color: white;
  }
}
