.back {
  display: flex;
  width: 200px;
  align-items: center;
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 40px;

  .backarrow {
    width: 12px;
    margin-right: 16px;
  }
}
.back:hover {
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  position: relative;
  background: #043B54;
  gap: 25px 25px;
  flex-wrap: wrap;
  padding: 50px 75px;
  > h1 {
    color: white;
    margin: 50px 0;
  }
}