// overflow not hidden on mobile views
// ok to change body/html css?
// html {
//   background: #043c54;

// }
body {
  overflow-x: hidden;
}
.container {
  background: #043c54;;
}
.mainContent {
  padding-top: 50px;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  .text {
    width: 90%;
    position: relative;
    > img {
      width: 60px;
      top: 15px;
      position: absolute;
    }
    > h2 {
      font-weight: 600;
      font-size: 40pt;
      margin-bottom: 50px;
      margin-right: 30px;
      display: inline;
    }
    > h1 {
      font-weight: 600;
      font-size: 48pt;
    }
    > h4 {
      font-weight: 600;
      color: #9EE7E5;
      font-size: 18pt;
    }
  }
}

.teamButtonCont {
  display: flex;
  gap: 0 50px;
  width: 90%;
  margin-top: 35px;
  .teamButtons {
    display: flex;
    flex-direction: column;
    max-width: 925px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.16);
    img {
      width: 100%;
      max-height: 280px;
      object-fit: cover;
    }
    .findJoinTeam {
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #074967;
      .findJoinTeamBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 35px;
        letter-spacing: 1px;
        border-radius: 20px;
        border: solid 2px #9EE7E5;
        color: #9EE7E5;
        font-weight: 600;
      }
      .findJoinTeamBtn:hover {
        cursor: pointer;
        color: white;
        border: solid 2px white;
      }
      .findJoinTeamBtn:active {
        color: #00425A;
        background-color: #9EE7E5;
        border: solid 2px #9EE7E5;
      }
    }
  }
}

