@import "../defs";

.wrapper {
  overflow-x: hidden;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  // height: 1208px;
}

.graphic_wrapper {
  position: relative;

  > img:not(:first-child) {
    position: absolute;
  }

  > .tree_meeting {
    z-index: 2;
    right: 0;
  }

  > .chicky {
    width: 18%;
    left: 38%;
    top: 50%;
    z-index: 1;
  }

  > .cow {
    width: 16%;
    left: 55%;
    top: 29%;
  }
}

.content {
  background: $darker_teal;
  margin-top: -12%;
  padding: 70px 50px 150px;
}

.main_block {
  background: $darker_teal;
  margin-bottom: 75px;

  > h1 {
    @include title();
    font-size: 48px;
  }

  > p {
    @include body();
    margin-bottom: 35px;

    > span {
      @include body();
      color: $medium_teal;
    }
  }

  > button {
    @include button(false);
    padding: 10px;
  }
}

.stats_block {
  display: flex;
  justify-content: space-around;
  background: $darker_teal;
  flex-wrap: wrap;
  margin: auto;
  // padding: 50px 0;
  gap: 10px min(10%, 60px);
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100px;
  gap: 15px 0;

  > figcaption {
    text-align: center;
    color: white;
    flex-grow: 1;
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 100%;

    > span {
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: bold;
      font-size: 43px;
      line-height: 130%;
      color: #6ee2ff;
    }
  }
}

.diagonal {
  position: relative;
  border-left: 100vw solid white;
  border-top: 11vw solid transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin-top: calc(-11vw + 1px);
  z-index: 1;
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .container {
    flex-direction: row;
    max-height: 1200px;
  }

  .graphic_mobile {
    display: none;
  }

  .graphic_wrapper {
    width: 44vw;

    > .about_us_graphic {
      top: -1px;
      // right: -20vw;
      width: 850px;
      z-index: -2;
    }

    > .chicky {
      width: 115px;
      top: 400px;
      left: 260px;
      z-index: -2;
    }
    
    > .cow {
      width: 115px;
      top: 215px;
      left: 400px;
      z-index: -1;
    }

    > .bunny_bush_ray {
      width: 600px;
      top: 125px;
      left: 250px;
      z-index: -2;
      // right: -200px;
    }

    > .front_rays {
      z-index: 1;
    }

    > .sky {
      top: 0;
      width: 125vw;
      z-index: -3;
    }
  }

  .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    min-width: 590px;
    width: 56vw;
    padding: 0;
    margin-top: 0;
  }

  .main_block {
    padding: 15% 0 10% 0;
    flex-basis: 700px;
    flex-grow: 1;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    > h1 {
      font-size: 96px;
    }

    > p,
    > p > span {
      font-size: 17px;
    }

    > button {
      max-width: 202px;
    }
  }

  .stats_block {
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    gap: 0;
    justify-content: space-between;
    max-width: 500px;
    // padding: 10%;
    padding-top: 0;
    padding-bottom: 20%;
  }
}

@media only screen and (min-width: 1060px) {
  .graphic_wrapper {
    .cow {
      z-index: 1;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .graphic_wrapper {
    .cow {
      z-index: 3;
    }

    .about_us_graphic {
      z-index: 2;
    }

    .bunny_bush_ray {
      z-index: 1;
    }

    .front_rays {
      z-index: 4;
    }
  }
}

// .about_us_graphic {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   z-index: 1;
//   width: 95%;
// }

// .blue_sky {
//   width: 100%;
//   flex-grow: 1;
//   height: auto;
//   z-index: 0;
//   object-fit: cover;
// }

// .leftSide {
//   display: flex;
//   position: relative;
//   width: 43%;
//   height: 100%;
// }
// .rightSide {
//   display: flex;
//   width: 57%;
//   flex-direction: column;
//   align-content: center;
//   padding: 140px;
//   padding-top: 0px;
// }
// .stats {
//   font-size: 40px;
//   /* line-height: 54px; */
//   font-family: "Proxima Nova";
//   display: flex;
//   height: 200px;
//   margin-top: 200px;
//   /* border: solid black 1px; */
//   align-items: center;
//   justify-content: center;
// }
// .statscontainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   width: 25%;
// }

// .statsimg {
//   width: 100px;
//   height: 100px;
// }

// .bottom_diagonal_about {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: 0;
//   height: 0;
//   border-bottom: 100px solid #ffffff;
//   border-right: 100vw solid transparent;
//   z-index: 999;
// }

// .about_header {
//   color: #ffffff;
//   font-size: 96px;
//   margin-bottom: 2%;
//   margin-top: 10%;
//   font-family: "Proxima Nova", sans-serif;
//   font-weight: 700;
// }

// .about_text {
//   color: #ffffff;
//   font-size: 17px;
//   font-weight: normal;
//   margin-bottom: 6%;
//   line-height: 150%;
//   font-family: "Proxima Nova", sans-serif;
//   font-weight: 400;
// }

// .about_text_alt {
//   color: #0eb1bb;
// }

// .about_stats_big {
//   color: #86e4db;
//   font-size: 43px;
//   /* line-height: 130%; */
//   margin-top: 6%;
//   color: #6fe2ff;
//   font-family: "Proxima Nova", sans-serif;
//   font-weight: 700;
// }

// .button_container {
//   display: flex;
//   flex-wrap: nowrap;
// }

// .sponsor_button {
//   font-family: "Proxima Nova", sans-serif;
//   font-weight: 700;
//   font-size: 1.0625rem;
//   line-height: 1.3125rem;
//   letter-spacing: 0.1rem;
//   border-radius: 100px;
//   color: white;
//   border: 3px solid white;
//   background-color: #173a52;
//   padding: 7px;
//   width: auto;
//   max-width: 202px;
//   flex-grow: 1;
// }

// .sponsor_button:hover {
//   border: 3px solid#45d5d9;
//   color: #45d5d9;
// }

// .about_stats_small {
//   color: #ffffff;
//   font-size: 20px;
//   font-weight: normal;
//   /* align-items: center; */
//   width: 65%;
//   text-align: center;
// }

// .about_stats_text_container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
//   justify-content: center;
//   font-family: "Proxima Nova", sans-serif;
//   font-size: 20px;
//   font-weight: 500;
// }

// .attendeestext {
//   padding-bottom: 11px;
// }

// @media (max-width: 575px) {
//   .view_winner {
//     margin-top: -14px;
//   }
// }

// @media (min-width: 1024px) and (max-width: 1439px) {
//   .rightSide {
//     padding: 30px;
//   }
// }

/* 
div.background_about {
  min-height: 100vh;
  font-family: "Proxima Nova";
  font-weight: 1000;
  overflow-x: hidden;
  background-color: #173a52;
  position: relative;
}

div.statscontainer {
  color: black;
  margin-bottom: 60px;
}


@media (max-width: 575px) {
  div.stats {
    font-size: 24px;
  }
}
*/

/*
.trust_badge {
  display: block;
  max-width: 85px;
  min-width: 60px;
  position: absolute;
  left: 140px;
  top: 0;
  width: 20%;
  height: 10%;
  z-index: 10000;
}

*/

/*
.winnertext {
  font-family: "Proxima Nova";
  font-style: normal;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  remove underline;
  text-decoration: none;
  color: white;
}

.image_container {
  overflow-x: hidden;
  margin-bottom: 10%;
}

@media (max-width: 768px) {
  .image_container {
    padding-top: 50px;
  }

  .statscontainer {
    padding-top: 50px;
  }
}

.image {
  width: 70%;
  height: auto;
}

.bottom_diagonal_about {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ffffff;
  border-right: 100vw solid transparent;
}

@media (max-width: 768px) {
  .bottom_diagonal_about {
    border-bottom: 40px solid #ffffff;
  }
}

.header_date {
  font-family: "Proxima Nova";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 30px;
}

.join_discord {
  font-size: 24px;
  margin-top: 56px;
}

.join_discord_description {
  font-size: 16px;
  font-style: normal;
  font-family: "Proxima Nova";
  font-weight: normal;
  margin-top: 8px;
  line-height: 150%;
}
*/

/*

.back_button {
  margin-left: 2.5vw;
  margin-top: 5vh;
  background: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.back_button:focus {
  outline: none;
}

.back_text {
  display: inline;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 24px;
}

.about_treetop{
  position: relative;
  overflow-y: hidden;
  z-index: 0;
}

.frontrays {
  z-index: 6;
  position: absolute;
}
.cowwithhat {
  z-index: 5;
  position: absolute;
  width: 50%;
}
.leaves {
  z-index: 4;
  position: absolute;
}
.bunnybushray {
  z-index: 3;
  position: absolute;
}
.aboutusgraphic {
  z-index: 2;
  position: absolute;
}
.blueskybg{
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
}
  
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .main_content {
    margin-top: 50px;
  }
  .about_stats_text_container {
    margin-bottom: 12%;
  }
  .image_container {
    margin-top: -20%;
  }
  .image {
    width: 75%;
  }
  .statscontainer {
    padding-left: 20px;
  }
}

@media (min-width: 1440px) {
  .main_content {
    margin-top: 50px;
  }
  .about_header {
    margin-top: -50px;
  }
  .image_container {
    margin-top: -5%;
  }
}

@media (max-width: 425px) {
  .image_container {
    display: none !important; 
  }

  .image {
    display: none;
  }

  .about_header {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  .about_text {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .about_stats_small {
    margin-bottom: 50px;
    line-height: 20px;
  }
  .view_winner_button_container {
    margin-bottom: 60px;
  }
}

@media all and (min-width: 426px) and (max-width: 991px) {
  .image_container {
    display: none !important; 
  }
  .image {
    display: none;
  }
  .about_stats_small {
    margin-bottom: 50px;
  }
  .view_winner_button_container {
    margin-bottom: 60px;
  }
} */
