.background {
  background-color: #0b2638;
  min-height: 100vh;
  font-family: "Proxima Nova";
  color: #ffffff;
}

.image_wrap {
  background-color: #86E4DB;
  border-radius: 10px;
}

.container {
  flex-basis: 31%;
}

.container_spotlight {
  flex-basis: 100%;
}

.headerText {
  margin-top: 10rem;
  margin-bottom: 2.5rem;
  font-size: 40px;
  font-weight: 700;
}

.headshot {
  // background-size: cover;
  // background-position: center center;
  // width: 92.5%;
  // height: auto;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  opacity: 50%;
}

.headshot_spotlight {
  opacity: 100%;
}

.headshot:hover {
  cursor: pointer;
  // transform: scale(1.025);
}

.title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 0;
  display: none;
}

.title_spotlight {
  display: block;
}

.text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
  font-weight: 500;
  display: none;
}

.text_spotlight {
  display: block;
}

.bottom_diagonal {
  padding-top: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ffffff;
  border-left: 100vw solid transparent;
}

.margin {
  margin-bottom: 19rem;
}

@media (max-width: 425px) {
  .headshot {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .title {
    display: block;
  }
  .text {
    display: block;
  }
  .container {
    flex-basis: 23%;
  }
  .headshot {
    opacity: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    flex-basis: 18%;
  }
}